{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symptom Checker</title>
</head>
<body>
{% block content %}
<div class="container-fluid" style="height:auto;background-image:url('static/img/simple.png');height:auto;width:100%;background-repeat:no-repeat;background-size:cover;background-position: center;" >
    <div class="row">
        <h2 class="heading"><b>About Us</b></h2>
    </div>
    <div class="about_back">


                <div class="about_text" style="color:black;">
                    The Sympchec Medical Team works closely with a team of over 100 nationwide doctors and health experts across a
                    broad range of specialty areas to ensure Sympchec's content is up to date, accurate, and helps you live a
                    healthier life.<br><h3><b>What We Do For Our Users</b></h3> Sympchec has created an organization that we believe fulfills the
                    promise of health information on the Internet.
                    And that, we believe, requires dedicated, full-time staff professionals with state-of-the-art expertise in:<br>

                    -Creating and maintaining up-to-date medical reference content &nbsp;databases<br>
                    -User experience<br>
                    -Interactive tools<br>
                    As serious as we are about credibility, we also know that at times, health information can and should be
                    engaging, exciting, and entertaining.
                    We pride ourselves in knowing our audience's needs and delivering the most appropriate experience.
                    Our mission is to fulfill all these needs in the most appropriate ways possible.
                    We are committed to improving our site.
                </div>
        </div>
    </div>

{% endblock %}
</body>
</html>
